/*common styles*/

html{
	height: 100%;
}

*{
	box-sizing: border-box;
}

p,h1,h2{
	text-align:center;
}

p{
	font: normal normal normal 20px/1.67em montserrat,sans-serif;
}

h1{
	font: normal normal normal 72px/1.25em roboto,sans-serif;
	text-transform: uppercase;
}

body {
	margin: 0px;
}

header
{
	background-color: #EDE2F0;
	z-index: 1;
}

header h2
{
	text-align: left;
	text-transform: uppercase;
	margin: 0px;
	padding: 20px;
}


#topMenu
{
    text-align: center;
	display: inline-block;
	padding: 4px;
	background-color: #EDE2F0;
	list-style: none;
	margin: 0px;
	z-index: 1;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

#topMenu li
{
	margin-top: 4px;
	margin-bottom: 4px;
	display: inline-block;
	position: relative;
}

#topMenu li a.mainNav
{
	display: inline-block;
	background-color: #E6BDF1;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #f9f9f9;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
	background-color: #e5e5e5;
}

header li:hover .dropdown-content {
  display: block;
}

#topMenu li a.mainNav:hover {
  background-color: #DA9AEB;
}	
	
p.filler{
	margin: 50px;
}